<% if I18n.locale == :ar %>
<em><h3 class="text-info">انشاء حساب عربيليتي جديد</h3></em>
<% else %>
<em><h3 class="text-info">Create a new Arability account</h3></em>
<% end %>
<div class="container well">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <% if resource.errors.any? %>
        <div class="alert"><%= devise_error_messages! %></div>
    <% end %>

    <div class="container">

        <div><%= f.label t(:email), :class => "control-label" %>
        <%= f.email_field :email, :style => "margin-left: 10px;" %></div></br>

        <div><%= f.label t(:password), :class => "control-label" %>
        <%= f.password_field :password, :style => "margin-left: 10px;" %></div></br>

        <div><%= f.label t(:password_confirmation), :class => "control-label" %>
        <%= f.password_field :password_confirmation, :style => "margin-left: 10px;" %></div></br>

        <div><%= f.label t(:username), :class => "control-label" %>
        <%= f.text_field :username, :style => "margin-left: 10px;" %></div></br>

        <div><%= f.label t(:date_of_birth), :class => "control-label" %>
        <%=  f.date_select :date_of_birth, {:start_year => Time.now.year,
            :end_year => Time.now.year - 95}, :style => "margin-left: 10px;" %></div></br>

        <div><%= f.label t(:gender), :class => "control-label" %>
        <% if I18n.locale == :ar %>
            <%= f.select(:gender,options_for_select([['ذكر','male'],['انثي','female']]),{}, :style => "margin-left: 10px;" ) %></div></br>
        <% else %>
            <%= f.select(:gender,options_for_select(['male','female']),{}, :style => "margin-left: 10px;" ) %></div></br>
        <% end %>

        <div><%= f.label t(:country), :class => "control-label" %>
        <% if I18n.locale == :ar %>
                <%= f.select(:country, options_for_select([['مصر','Egypt'],['لبنان','Lebanon'],
                    ['الاردن','Jordan'],['السعودية','Saudi Arabia'],['ليبيا','Libya'],['الامارات','United Arab Emirates'],['قطر','Qatar'],['الكويت','Kuwait'],
                    ['العراق','Iraq'],['الجزأئر','Algeria'],['المغرب','Morocco'],['البحرين','Bahrain'],
                    ['موريتانيا','Mauritania'],['الصومال','Somalia'],['السودان','Sudan'],['تونس','Tunisia'],
                    ['اخري','others']]), {},
                {:style => "margin-left: 10px;" }) %>
            </div></br>
        <% else %>
            <span style="margin-left: 10px;">
                <%= f.country_select :country, [ "Egypt", "Lebanon", "Jordan" ]%>
            </span></div></br>
        <% end %>


        <div><%= f.label t(:education_level), :class => "control-label" %>
        <% if I18n.locale == :ar %>
            <%= f.select(:education_level, options_for_select([['مدرسة','School'],['جامعة','University'],
            ['خريج','Graduate']]), {}, { :style => "margin-left: 10px;" }) %></br></div>
        <% else %>
            <%= f.select(:education_level, options_for_select(['School','University','Graduate']), {}, { :style => "margin-left: 10px;" }) %></br></div>
        <% end %>


        <% if I18n.locale == :ar %>
            <div><%= f.submit "سجل الحساب", :class => "btn btn-success" %></div>
        <% else %>
            <div><%= f.submit "Sign up", :class => "btn btn-success" %></div>
        <% end %>

    </div>


    </div>

    <% end %>