<div class="award-zone" id="award-list">
  <div class="won">
    <% if I18n.locale == :en %>
      <a class="pull-right btn btn-success" style="padding: 5px; margin-right: 12px; margin-top: 28px;" onclick="backToGame()">Back</a>
    <% else %>
      <a class="pull-left btn btn-success" style="padding: 5px; margin-left: 28px; margin-top: 28px;" onclick="backToGame()">رجوع </a>
    <% end %>
    <h3 class="title-head"><%= t(:won_trophies_title) %></h3>
    <% if @won_trophies.present %>
    <div class="none">
      <%= t(:no_trophies) %>
    </div>
    <% else %>
      <% @won_trophies.each do |trophy| %>
        <div class="award-new">
          <div class="award-image">
            <center>
              <img src="<%= trophy.image %>" width="60" height="60"/>
            </center>
          </div>
          <div class="award-new-name">
            <%= trophy.name %>
          </div>
          <div class="award-new-req">
            <%= t(:level) %> <%= trophy.level %>
          </div>
          <div class="award-new-req">
            <%= t(:score) %> <%= trophy.score %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="not-won">
    <h3 class="title-head"><%= t(:not_won_trophies_title) %></h3>
    <% if @not_won_trophies.present %>
    <div class="none">
      <%= t(:all_trophies) %>
    </div>
    <% else %>
      <% @not_won_trophies.each do |trophy| %>
        <div class="award-new-not">
          <div class="award-image">
            <center>
              <img src="<%= trophy.image %>" width="60" height="60"/>
            </center>
          </div>
          <div class="award-new-name">
            <%= trophy.name %>
          </div>
          <div class="award-new-req">
            <%= t(:level) %> <%= trophy.level %>
          </div>
          <div class="award-new-req">
            <%= t(:score) %> <%= trophy.score %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

