<% if !gamer_signed_in? %>
    error =  '<h1 class="award-title">سجل دخولك أو إشترك لكي تربح جوائز أو لتحقيق إنجازات</h1>';
    $("#zone").append($(error));
<% else %>
  <% if @level == 0 || @score == 0 %>
      error = '<div class="alert" style="text-align:right; margin:10px;">' +
              '<button type="button" class="close" data-dismiss="alert">&times;</button>' +
              '<strong>تحذير!</strong> حاولت طلب بيانات غير صالحة.' + '</div>';
      $("#zone").append($(error));
  <% else %>
    <% if @won_prizes %>
        button = '<a onclick="getPrizes(<%= @level %>, <%= @score %>)" class="btn btn-success pull-left" style="margin:20px; padding:10px; font-size:24px;">إلى الجوائز </a>';
        $("#zone").append($(button));
    <% else %>
        button = '<a onclick="have_to_sign_in()" class="btn btn-success pull-left" style="margin:20px; padding:10px; font-size:24px;">إلى صفحة التصويت </a>';
        $("#zone").append($(button));
    <% end %>

    score = '<h1 class="award-title">لقد سجلت النقاط التالية  <span id="score"><%= @score %></span> </h1>';
    $("#zone").append($(score));
    <% if @won_trophies.length != 0 %>
        success = '<h1 class="award-title">مبروك! لقد فزت الجوائز التالية!</h1>';
        trophies = [];
        <% @won_trophies.each do |t| %>
          trophies.push('<div class="award">' + '<img width="60" src="<%= t.image %>">' + '<%= t.name %>' + '</div>');
        <% end %>

    <% end %>
        $("#zone").append($(success));
        for(var i = 0; i < trophies.length; i++) {
          $("#zone").append($(trophies[i]));
        }
  <% end %>
<% end %>
