<script type="text/javascript" charset="utf-8">
  
  function display(clicked_id)
  {
    if(clicked_id == 1)
    {
      document.getElementById('all').style.visibility = 'visible';
      document.getElementById('facebook').style.visibility = 'hidden';
      document.getElementById('twitter').style.visibility = 'hidden';
    }
    else
    {
      if(clicked_id == 2)
      {
        document.getElementById('all').style.visibility = 'hidden';
        document.getElementById('facebook').style.visibility = 'visible';
        document.getElementById('twitter').style.visibility = 'hidden';
      }
      else
      {
        document.getElementById('all').style.visibility = 'hidden';
        document.getElementById('facebook').style.visibility = 'hidden';
        document.getElementById('twitter').style.visibility = 'visible';
      }
    }
  }

</script>

<div class="btn-group" data-toggle="buttons-radio">
  <h2>Hall of Fame</h2>
  <button id = "1" type="button" class="btn btn-primary" data-toggle="button" onclick="display(this.id)">ALL</button>
  <button id = "2" type="button" class="btn btn-primary" data-toggle="button" onclick="display(this.id)">Your Facebook Friends</button>
  <button id = "3" type="button" class="btn btn-primary" data-toggle="button" onclick="display(this.id)">Your Twitter Friends</button>
</div>

<div id="all">
  <table class="table">
    <thead align="center">
      <tr>
        <td>Rank</td>
        <td>name</td>
        <td>Score</td>
        <td>Trophies</td>
      </tr>
    </thead>
    <tbody align="center">
      <% @gamers = Gamer.find(:all, :order => "highest_score DESC") %>
      <% rank = 0 %>
      <% @gamers.each do |user| %>
      <tr>
        <td><%= rank = rank + 1 %></td>
        <td><%= user.username %></td>
        <td><%= user.highest_score %></td>
        <% @Trophies = Gamers_Trophy.find_by_gamer_id(user.id) %>
        <td>
          <% if @Trophies.nil? %>
          <p>No Trophies</p>
          <% else %>
          <%= @Trophies.trophy_id %>
          <% end %>
        </td>
      </tr>
      <br>
      <% end %>
    </tbody>
  </table>
</div>

<div id = "twitter" style = "width:600px; margin:0 auto; visibility:hidden" align="center">
  <img alt="Twitter" class="border-none" src="/assets/twitter.png" width="60" />
  <p>Your Twitter Followers</p>
  <% common = Authentication.get_common_twitter_followers(current_gamer) %>
  <% if common.nil? %>
  <p>You are not connected to Twitter</p>
  <% else %>
  <table class="table">
    <thead align="center">
      <tr>
        <td>Rank</td>
        <td>name</td>
        <td>Score</td>
        <td>Trophies</td>
      </tr>
    </thead>
    <tbody align="center">
      <% @gamers = Gamer.find(common, :order => "highest_score DESC") %>
      <% rank = 0 %>
      <% @gamers.each do |user| %>
      <tr>
        <td><%= rank = rank + 1 %></td>
        <td><%= user.username %></td>
        <td><%= user.highest_score %></td>
        <% @Trophies = Gamers_Trophy.find_by_gamer_id(user.id) %>
        <td>
          <% if @Trophies.nil? %>
          <p>No Trophies</p>
          <% else %>
          <%= @Trophies.trophy_id %>
          <% end %>
        </td>
      </tr>
      <br>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<div id = "facebook" style = "width:600px; margin:0 auto; visibility:hidden" align="center">
  <img alt="Facebook" class="border-none" src="/assets/facebook_logo.png" width="40" />
  <br>
  <p>Your Facebook Friends</p>
  <% common = Authentication.get_common_facebook_friends(current_gamer) %>
  <% if common.nil? %>
  <p>You are not connected to Facebook</p>
  <% else %>
  <table class="table">
    <thead align="center">
      <tr>
        <td>Rank</td>
        <td>name</td>
        <td>Score</td>
        <td>Trophies</td>
      </tr>
    </thead>
    <tbody align="center">
      <% @gamers = Gamer.find(common, :order => "highest_score DESC") %>
      <% rank = 0 %>
      <% @gamers.each do |user| %>
      <tr>
        <td><%= rank = rank + 1 %></td>
        <td><%= user.username %></td>
        <td><%= user.highest_score %></td>
        <% @Trophies = Gamers_Trophy.find_by_gamer_id(user.id) %>
        <td>
          <% if @Trophies.nil? %>
          <label>No Trophies</label>
          <% else %>
          <%= @Trophies.trophy_id %>
          <% end %>
        </td>
      </tr>
      <br>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>