<div id="all">
  <table class="table">
    <thead align="center" style="font-weight:bold;">
      <tr>
        <td><%= t(:rank) %></td>
        <td><%= t(:name) %></td>
        <td><%= t(:highest_score) %></td>
        <td><%= t(:trophies) %></td>
      </tr>
    </thead>
    <tbody align="center">
      <% @gamers = Gamer.find(:all, :order => "highest_score DESC") %>
      <% rank = 0 %>
      <% @gamers.each do |user| %>
      <% if user == current_gamer %>
      <tr style="background-color: #DDDDDD">
      <% else %>
      <tr>
      <% end %>
        <td><%= rank = rank + 1 %></td>
        <td><%= user.username %></td>
        <td><%= user.highest_score %></td>
        <% @Trophies = Gamers_Trophy.find_by_gamer_id(user.id) %>
        <td>
          <% if @Trophies.nil? %>
          <p><%= t(:no_trophies) %></p>
          <% else %>
          <%= @Trophies.trophy_id %>
          <% end %>
        </td>
      </tr>
      <br>
      <% end %>
    </tbody>
  </table>
</div>