<% if !gamer_signed_in? %>
    error =  '<h1 class="award-title"><%= t(:sign_in_first) %></h1>';
    $("#zone").append($(error));
<% else %>

  var award_zone = '<div class="award-zone" id="award-list"></div>';
  var won_prizes = '<h1 class="award-type"><%= t(:earned_prizes) %></h1>';
  var not_won_prizes = '<h1 class="award-type"><%= t(:available_prizes) %></h1>';
  $("#zone").append($(award_zone));

  $("#award-list").append($(won_prizes));

  <% if @won_prizes.length == 0 %>
      prize_error = '<div class="award-desc-unlocked"><%= t(:didnt_win_prizes) %></div>';
      $("#award-list").append($(prize_error));
  <% else %>
    <% @won_prizes.each do |wp| %>
    prize = '<div class="award-desc-unlocked">' + '<img width="60" src="<%= wp.image %>">' + '<%= wp.name %> <span style="margin-top:30px;" class="pull-left"><%= t(:level) %> <%= wp.level %> <%= t(:score) %> <%= wp.score %></span></div>';
      $("#award-list").append($(prize));
    <% end %>
  <% end %>


  $("#award-list").append($(not_won_prizes));

  <% if @not_won_prizes.length == 0 %>
      prize_error = '<div class="award-desc-locked"><%= t(:won_all_prizes) %></div>';
      $("#award-list").append($(prize_error));
  <% else %>
      <% @not_won_prizes.each do |nwp| %>
          prize = '<div class="award-desc-locked">' + '<img width="60" src="<%= nwp.image %>"' + '<%= nwp.name %> <span style="margin-top:30px;" class="pull-left"><%= t(:level) %> <%= nwp.level %> <%= t(:score) %> <%= nwp.score %></span><</div>';
          $("#award-list").append($(prize));
      <% end %>
  <% end %>
<% end %>
