<div id = "twitter">
  <p>
    <img alt="Twitter" class="border-none" src="/assets/twitter.png" width="60" />
    <%= t(:your_twitter_friends) %>
  </p>
  <% common = Authentication.get_common_twitter_friends(current_gamer) %>
  <% if common.nil? %>
  <p><%= t(:not_connected_to_twitter) %></p>
  <% else %>
  <table class="table">
    <thead align="center" style="font-weight:bold;">
      <tr>
        <td><%= t(:rank) %></td>
        <td><%= t(:name) %></td>
        <td><%= t(:highest_score) %></td>
        <td><%= t(:trophies) %></td>
      </tr>
    </thead>
    <tbody align="center">
      <% @gamers = Gamer.find(common, :order => "highest_score DESC", limit: 10) %>
      <% rank = 0 %>
      <% @gamers.each do |user| %>
      <% if user == current_gamer %>
      <tr style="background-color: #DDDDDD"><td>*
      <% else %>
      <tr><td>
      <% end %>
        <%= rank = rank + 1 %></td>
        <td><%= user.username %></td>
        <td><%= user.highest_score %></td>
        <% @Trophies = Gamers_Trophy.find_by_gamer_id(user.id) %>
        <td>
          <% if @Trophies.nil? %>
          <p><%= t(:no_trophies) %></p>
          <% else %>
          <%= @Trophies.trophy_id %>
          <% end %>
        </td>
      </tr>
      <br>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>