
<h2><%= t(:choose_subscription_model) %></h2>

<%= form_for(:my_subscription, :url => { :controller => "my_subscription",:action => "pick" }) do |f| %>
<div style = "width:1000px; margin: 0 auto;">
<table>
		<tr>
<% @all_subscription_models.each do |sm| %>
  <%if @developer != nil
	if(@developer.my_subscription)
		selected_sub_id = @developer.my_subscription.subscription_model_id
	else
		selected_sub_id = 1
	end
  else
    selected_sub_id = 1
  end%>
	
			<td width="300px">
	<div class="well" style="margin-left: 30px; box-shadow: 0 4px 2px #ccc;">
	<p><%= radio_button_tag(:my_subscription, sm.id, sm.id == selected_sub_id) %> 
     <%= sm.name %><br />
    <h5><%=t(:sub_search)%></h5>
    <%=sm.limit_search%><%= t(:per_month)%><br />
    <h5><%=t(:sub_follow)%></h5>
    <%=sm.limit_follow%><%= t(:per_month)%><br/>
    <h5><%=t(:sub_add)%></h5>
    <%=sm.limit%><%= t(:per_month)%><br />
    <h5><%=t(:sub_project)%></h5>
    <%=sm.limit_project%>
  </p>
    </div>
            </td>
        
<% end %>
<tr>
    </table>

<center>
<% if I18n.locale==:en %>
<%= submit_tag "Select Subscription", :class => "btn btn-success btn-large", :style => "margin-top: 20px; 	" %>
<% else I18n.locale==:ar %>
<%= submit_tag "إختر",:class => "btn btn-success btn-large", :style => "margin-top: 20px; 	"%>
</div>
</center>
<% end %>
<% end %>