
<% if I18n.locale==:en %>
<h2>Register as developer Step2: choose your subscription model</h2>
<% else I18n.locale==:ar %>
<h2>تسجيل الدخول المطور: المرحلة رقم 2 ، إختر نموذج الاشتراك</h2>
<% end %>

<%= form_for(:my_subscription, :url => { :controller => "my_subscription",:action => "pick" }) do |f| %>
<div style = "width:1000px; margin: 0 auto;">
<table>
		<tr>
<% @all_subscription_models.each do |sm| %>
	<%if(@developer.my_subscription)
		selected_sub_id = @developer.my_subscription.subscription_model_id
	else
		selected_sub_id = 1
	end%>
	
			<td width="300px">
	<div class="well" style="margin-left: 30px; box-shadow: 0 4px 2px #ccc;">
	<p><%= radio_button_tag(:my_subscription, sm.id, sm.id == selected_sub_id) %> <%= sm.name %><br />
		<% if I18n.locale==:en %>
		<h5>The maximum number of word searches is:</h5>
		<% else I18n.locale==:ar %>
		<h5>الحد الأقصى للبحث عن الكلمات في مشروعك هي:</h5>
		<% end %>
		<%=sm.limit_search%><%= t(:per_month)%><br />
		<% if I18n.locale==:en %>
		<h5>The maximun number for the word follow is:</h5>
		<% else I18n.locale==:ar %>
		<h5>الحد الأقصى لمتابعة الكلمات هي:</h5>
		<% end %>
		<%=sm.limit_follow%><%= t(:per_month)%><br/>
		<% if I18n.locale==:en %>
		<h5>The maximum number for adding words to your project is:</h5>
		<% else I18n.locale==:ar %>
		<h5>الحد الأقصى لاضافة الكلمات إلى مشروعك هي:</h5>
		<% end %>
		<%=sm.limit%><%= t(:per_month)%><br />
		<% if I18n.locale==:en %>
		<h5>The maximum number of projects you can create is:</h5>
		<% else I18n.locale==:ar %>
		<h5>الحد الأقصى لانشاء المشاريع هي:</h5>
		<% end %>
		<%=sm.limit_project%>
	</p>
    </div>
            </td>
        
<% end %>
<tr>
    </table>

<center>
<% if I18n.locale==:en %>
<%= submit_tag "Select Subscription", :class => "btn btn-success btn-large", :style => "margin-top: 20px; 	" %>
<% else I18n.locale==:ar %>
<%= submit_tag "إختر",:class => "btn btn-success btn-large", :style => "margin-top: 20px; 	"%>
</div>
</center>
<% end %>
<% end %>