<div class = "container well" >
    <%= form_for @model, :html => {:class => "form-horizontal"} do |f| %>

    <div class="control-group">
        <%= f.label :name, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :name, :placeholder => "الإسم" %>
        </div>
    </div>
    <div class="control-group">
        <%= f.label :limit_search, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :limit_search :placeholder => "الحد الأقصى للبحث" %>
        </div>
    </div>
    <div class="control-group">
        <%= f.label :limit_follow, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :limit_follow, :placeholder => "الحد الأقصى للمتابعة" %>
        </div>
    </div>  
    <div class="control-group">
        <%= f.label :limit_project, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :limit_project, :placeholder => "الحد الأقصى للمشاريع" %>
        </div>
    </div>
    <div class="control-group">
      <div class="controls">
          <button class="btn btn-info btn-large" type="submit" style="margin-right: 20px"><%= "تعديل" %></button>
      </div>
  </div>
  <% end %>
  </div>
