<div class="container admin">
	<div class="row">
		<%= render partial: 'sidebar-nav', locals: {active: "list-admins"} %>
		<div class="span9 offset3">
			<div class="tab-content">
				<div class="tab-pane well span7 active" id="admin-list-admins">
					<legend>
						<div class="pull-left pagination">
							<%= paginate @list, :remote => true %>
						</div>
							عرض المشرفيين
					</legend>
					<% if flash[:success] %>
						<div class="alert alert-success">
					    	<button type="button" class="close" data-dismiss="alert">&times;</button>
					    	<div>
					    		<%= flash[:success] %>
					    	</div>
					  	</div>
					<% end %>
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<td>اسم المستخدم</td>
								<td>البريد الاكترونى</td>
								<td>مسح المشرف</td>
							</tr>
						</thead>
						<tbody>
							<% for item in @list %>
								<div id="myModal<%= item.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						            <div class="modal-header">
						              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						              <h3 id="myModalLabel">تأكيد المسح</h3>
						            </div>
						            <div class="modal-body">
						              <p>هل أنت متأكد من مسح المشرف</p><strong><%= item.username %></strong>
						            </div>
						            <div class="modal-footer">
						              <button class="btn" data-dismiss="modal" aria-hidden="true">غلق</button>
						              <a class="btn btn-warning" href="/admin/remove_admin?id=<%= item.id %>">مسح</a>
						            </div>
						          </div>
								<tr>
									<td><%= item.username %></td>
									<td><%= item.email %></td>
									<td><a href="#myModal<%= item.id %>" data-toggle="modal">مسح</a></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>