<div class="container admin">
  <div class="row">
    <%= render partial: "sidebar-nav", locals: {active: nil} %>
    <div class="span9 offset3">
      <div class="tab-content">
        <div class="tab-pane well span7 active">
          <legend>
            <div class="pull-left pagination">
              <%= paginate @list, :remote => true %>
            </div>
            <a>
              عرض المشارييع الخاصة ب <%= @developer.gamer.username %>
            </a>
          </legend>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <td>اسم المشروع</td>
                <td>عدد الكلمات</td>
              </tr>
            </thead>
            <tbody>
              <% for item in @list %>
                <tr>
                  <td><%= item.name %></td>
                  <td><%= PreferedSynonym.where(project_id: item.id).count %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <a class="btn btn-large btn-primary pull-left" href="/admin/list/developers">العودة</a>
        </div>
      </div>
    </div>
  </div>
</div>