<table class="table table-striped">
  <tr>
    <th>#</th>
    <th>الإسم</th>
    <th>الحد الأقصى للبحث</th>
    <th>الحد الأقصى للمتابعة</th>
    <th>الحد الأقصى للمشاريع</th>
    <th>تعديل</th>
  </tr>
  <% @models.each do |model| %>
    <tr>
    	<th><%= model.id %></th>
    	<th><%= model.name %></th>
      <th><%= model.limit_search %></th>
      <th><%= model.limit_follow %></th>
      <th><%= model.limit_project %></th>
    	<th><a class="btn btn-mini" href="/admin/edit_subscription_model/?model_id=<%= model.id %>"><i class="icon-edit"></i></a></th>
    </tr>
  <% end %>
</table>