<% if I18n.locale==:en %>
<h2>Hall of Fame</h2>
<label>Your Twitter Followers</label>
<br>
<table border="5">
	<thead align="center">
		<tr>
			<td>Rank</td>
			<td>Friend's name</td>
			<td>Score</td>
			<td>Trophies</td>
		<tr>
		</tr>
	</thead>
	<tbody align="center">
		<% common = Authentication.get_common_twitter_followers(current_gamer) %>
		<% @gamers = Gamer.find(common, :order => "highest_score DESC") %>
		<% rank = 0 %>
		<% @gamers.each do |user| %>
		<tr>
			<td><%= rank = rank + 1 %></td>
			<td><%= user.username %></td>
			<td><%= user.highest_score %></td>
			<% @Trophies = Gamers_Trophy.find_by_gamer_id(user.id) %>
			<td>
				<% if @Trophies.nil? %>
				<label>No Trophies</label>
				<% else %>
				<%= @Trophies.trophy_id %>
				<% end %>
			</td>
		</tr>
		<br>
		<% end %>
	</tbody>
</table>
<% else I18n.locale==:ar %>
<h2>قاعة المجد</h2>
<label>أصدقائك في تويتر</label>
<br>
<table border="5">
	<thead align="center">
		<tr>
			<td>ترتيب</td>
			<td>الإسم</td>
			<td>مجموع النقاط</td>
			<td>الجوائز</td>
		<tr>
		</tr>
	</thead>
	<tbody align="center">
		<% common = Authentication.get_common_twitter_followers(current_gamer) %>
		<% @gamers = Gamer.find(common, :order => "highest_score DESC") %>
		<% rank = 0 %>
		<% @gamers.each do |user| %>
		<tr>
			<td><%= rank = rank + 1 %></td>
			<td><%= user.username %></td>
			<td><%= user.highest_score %></td>
			<% @Trophies = Gamers_Trophy.find_by_gamer_id(user.id) %>
			<td>
				<% if @Trophies.nil? %>
				<label>لا يوجد جوائز</label>
				<% else %>
				<%= @Trophies.trophy_id %>
				<% end %>
			</td>
		</tr>
		<br>
		<% end %>
	</tbody>
</table>
<% end %>