<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="/">arability</a>

      <div class="nav-collapse">
      <% if !gamer_signed_in? %>
        <ul class="nav pull-right">
          <li><a href="/gamers/sign_up">Sign up</a></li>
          <li class="divider-vertical"></li>
          <li class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
              <%= form_for("gamer", :url => gamer_session_path) do |f| %>
                <%= f.text_field :email, :style => "margin-bottom: 15px;", :placeholder => "Email", :size => "30" %>
                <%= f.password_field :password, :style => "margin-bottom: 15px;", :placeholder => "Password", :size => "30" %>
                <%= f.check_box :remember_me, :style => "float: left; margin-right: 10px;" %>
                <%= f.label :remember_me %>
                <%= f.submit "Sign In", :style => "clear: left; width: 100%; height: 32px; font-size: 13px;", :class => "btn btn-primary" %>
              <% end %>
            </div>
          </li>
        </ul>
      <% else %>

      <ul class="nav pull-right">
        <li><a href="/gamers/sign_out"><i class="icon-home"></i>Sign out</a></li>
        <li><a href="/gamers/edit"><i class="icon-wrench"></i>Account Settings</a></li>
      </ul>

      <% end %>
      </div>
    </div>
  </div>
</div>
