<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="/"><%= t :arability %></a>

      <div class="nav-collapse">
      <ul class="nav pull-right">
        <% if I18n.locale == :ar %>
          <li><%= link_to(t(:english), url_for(locale: :en)) %></li>
        <% else %>
          <li><%= link_to(t(:arabic), url_for(locale: :ar)) %></li>
        <% end %>
      <% if !gamer_signed_in? %>
          <li class="divider-vertical"></li>
          <li><a href="/gamers/sign_up"><%= t :sign_up %></a></li>
          <li class="divider-vertical"></li>
          <li class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown"><%= t :sign_in %> <strong class="caret"></strong></a>
            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
              <%= form_for("gamer", :url => gamer_session_path) do |f| %>
                <%= f.text_field :email, :style => "margin-bottom: 15px;", :placeholder => t(:email), :size => "30" %>
                <%= f.password_field :password, :style => "margin-bottom: 15px;", :placeholder => t(:password), :size => "30" %>
                <%= f.submit t(:sign_in), :style => "clear: left; width: 100%; height: 32px; font-size: 13px;", :class => "btn btn-primary" %>
             <!--    <%= link_to "Sign In with Google", :style => "clear: left; width: 88%; height: 30px; font-size: 13px", :class => "btn btn-success" %> -->
              <% end %>
            </div>
          </li>
      <% else %>
        <li><%= link_to t(:backend), backend_home_path %></li>
        <% if I18n.locale==:en %>
        <li><a href="/gamers/sign_out"><i class="icon-home"></i>Sign out</a></li>
        <li><a href="/gamers/edit"><i class="icon-wrench"></i>Edit Account Settings</a></li>
        <% else I18n.locale==:ar %>
        <li><a href="/gamers/sign_out"><i class="icon-home"></i>تسجيل خروج</a></li>
        <li><a href="/gamers/edit"><i class="icon-wrench"></i>تعئيير البيانات</a></li>
        <% end %>
      <% end %>
      </ul>
      </div>
    </div>
  </div>
</div>
