<% if !@keywords.empty? %>
<div class="well" style="font-weight: bold; text-align:center;">Follow a word to recieve an email with every update. Updates include a new Synonym addition to a Keyword or the top voted Synonym gets changed.</div>
<div style="width:800px; margin:0 auto;">
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t(:words)%></th>
    </tr>
  </thead>
  <tbody>
  <% @keywords.each do |keyword| %>
    <tr>
        <td><%= keyword.name %></td>
        <% if I18n.locale==:en %>
        <td><span class="pull-right"><%= link_to t(:unfollow), unfollow_word_path(keyword.id), :class => "btn btn-primary" %></span></td>
        <% else %>
        <td><span class="pull-left"><%= link_to t(:unfollow), unfollow_word_path(keyword.id), :class => "btn btn-primary" %></span></td>
        <% end %>
    </tr>
  <% end %> 
  </tbody>
</table>
</div>
<% else %>
<h4><%= t(:no_followed_words) %></h4>
<% end %> 
