<% if !@keywords.empty? %>
<div class="well" style="font-weight: bold; text-align:center;"><%= t(:follow_words_info)%></div>
<div style="width:800px; margin:0 auto;">
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t(:words)%></th>
    </tr>
  </thead>
  <tbody>
  <% @keywords.each do |keyword| %>
    <tr id="<%= keyword.id %>">
      <td><%= keyword.name %></td>
      <td><span class="unfollowbtn"><a href="#" class="btn btn-primary" onclick="clickunfollow(<%= keyword.id %>);"><%= t(:unfollow) %></a></span></td>
    </tr>
  <% end %> 
  </tbody>
</table>  
</div>
<% else %>
<h4><%= t(:no_followed_words) %></h4>
<% end %>

<script>
  function clickunfollow(id){
    $.get("/developers/unfollow/" + id);
    $('#'+id).fadeOut();
  }
  <% if I18n.locale == :ar %>
    $(".unfollowbtn").attr("class", "pull-left");
  <% else %>
    $(".unfollowbtn").attr("class", "pull-right");
  <% end %>
</script>