<div class="row">
	<legend><%= t(:search)%></legend>
	<%= form_tag(search_path, :method => "post", :class => "form-search") do %>
  	<%= content_tag(:div, :class => 'input-append') do %>
  		<% text_field_tag(:search, @search_keyword,
  											:placeholder => t(:search_here),
  											:class => 'search-query') + %>
			<% button_tag(:type => "submit",:class => 'btn') do %>
				<% content_tag(:i, nil,:class => "icon-search") %>
			<% end %>
		<% end %>
	<% end %>
</div>

<div class="row">
	<% if @is_successful == 'true' %>
	<div class="alert alert-success">
		<%= content_tag(:span, t(:keyword_add_success)) %>
	</div>
	<% elsif @is_successful == 'false' %>
	<div class="alert alert-danger">
		<%= content_tag(:span, t(:keyword_pending)) %>
	</div>
	<% end %>
	<% if @similar_keywords.blank? && !@search_keyword.blank? && @is_successful == nil %>
	<div class="well">
		<%= content_tag(:span, t(:keyword_suggest_add)) %>
		<%= link_to t(:click_here), :controller => "keywords", :action => "suggest_add",
		:search => @search_keyword, :method => :get %>
	</div>
	<% else %>
		<ul class="unstyled">
			<% @similar_keywords.each do |c| %>
			<%= content_tag(:li, c.name) %>
			<% end %>
		</ul>
	<% end %>
</div>