<div class="row">
	<legend><%= t(:search)%></legend>
	<%= form_tag(search_keywords_path, :method => "post", :class => "form-search") do %>
  	<%= content_tag(:div, :class => 'input-append') do %>
  		<% text_field_tag(:search, @search_keyword,
  											:placeholder => t(:search_here),
  											:class => 'search-query') + %>
			<% button_tag(:type => "submit",:class => 'btn') do %>
				<% content_tag(:i, nil,:class => "icon-search") %>
			<% end %>
		<% end %>
	<% end %>
</div>

<div class="row">
	<% if @similar_keywords.blank? && !@search_keyword.blank? %>
	<div class="well well-small">
		<%= content_tag(:span, t(:keyword_suggest_add)) %>
		<%= link_to t(:click_here), :controller => "keywords", :action => "create",
		:name => @search_keyword, :redirect => search_path, :method => :post %>
	</div>
	<% else %>
		<% @similar_keywords.each do |c| %>
			<div class="accordion-group" style="padding:10px;">
				<div class="accordion-heading">
					<%= link_to c.name, :controller => "search", :action => "search" %>
				</div>
			</div>
		<% end %>
	<% end %>
</div>