<div class="row">
	<div class="span12">
		<%= form_tag(search_path, method: "post", :class => "form-search") do %>
	  	<%= content_tag(:div, :class => "input-append") do %>
	  		<% text_field_tag(:search, @search_keyword,
	  											placeholder: t(:search_here),
	  											:class => "search-query autocomplete",
	  											autocomplete: "off") + %>
				<% button_tag(type: "submit", :class => "btn", id: "search_button") do %>
					<% content_tag(:i, nil, :class => "icon-search") %>
				<% end %>
			<% end %>
      <input name="categories_input" type="text" id="categories" class="categories-autocomplete" autocomplete="off" placeholder="<%= t :enter_categories %>" value=""/>

      <input name="project_id" type="hidden" value="<%= @project_id %>"/>
		<% end %>

		<% if @similar_keywords.blank? && !@search_keyword.blank? %>
			<div class="well well-small">
				<span>
					<%= form_tag(keywords_create_path, method: "post", :class => "form-search", style: "margin-bottom:0px;") do %>
					<%= content_tag(:span, t(:keyword_not_found)) %>
						<input name="keyword[name]" value="<%= @search_keyword %>" type="hidden">
						<input name="redirect" value="<%= search_keywords_path %>" type="hidden">
						<input class="btn btn-link" style="padding:0px;" value="<%= t(:add_word) %>" type="submit">
					<% end %>
				</span>
			</div>
		<% end %>
	</div>
</div>
<script type="text/javascript">
	<%= render "autocomplete-script.js" %>
</script>
<%= render "categories-autocomplete" %>