<div class="row">
	<div class="span12">
		<%= form_tag(search_path, :method => "post", :class => "form-search form-horizontal", :style => "margin-bottom:0px;") do %>
			<%= content_tag(:div, :class => 'input-append') do %>
				<% text_field_tag(:search, @search_keyword,
													:placeholder => t(:search_here),
													:class => 'search-query') + %>
				<% button_tag(:type => "submit",:class => 'btn') do %>
					<% content_tag(:i, nil,:class => "icon-search") %>
				<% end %>
			<% end %>
			<div class="row" style="padding:10px;">
				<div class="span12">
						<button type="button" class="btn btn-mini" onClick="toggle_me()" data-toggle="collapse" data-target="#filter">
							<span id="filter_btn" class="icon-plus"></span>
							<script type="text/javascript">
								function toggle_me(){
									$("#filter_btn").toggleClass('icon-minus');
								}
							</script>
						</button>
						<span>&nbsp;<%= t(:filter) %></span>
						<div id="filter" class="collapse"> 
							<div style="padding:10px;">
								<div class="control-group">
									<%= label_tag t(:country), nil, :class => "control-label", :style => "width:80px;" %>
									&nbsp;
									<%= text_field_tag :country, @country, :class => "control" %>
								</div>
								<div class="control-group">
									<%= label_tag t(:gender), nil, :class => "control-label", :style => "width:80px;" %>
									&nbsp;
									<%= select_tag :gender, options_for_select([t(:male), t(:female)]), :include_blank => true,  :class => "control" %>
								</div>	
								<div class="control-group">
									<%= label_tag t(:age_from), nil, :class => "control-label", :style => "width:80px;" %>
									&nbsp;
									<%= number_field_tag :age_from, nil, :in => 10...101, :class => "control", :style => "width:70px;" %>
									&nbsp;
									<%= label_tag t(:age_to), nil, :style => "width:20px;" %>
									&nbsp;
									<%= number_field_tag :age_to, nil, :in => 10...101, :style => "width:70px;" %>
								</div>
							</div>
						</div>
				</div>
			</div>
		<% end %>
	</div>
</div>

<% if @no_synonyms_found %>
	<div class="well">
		<span>
			<%= t(:no_synonyms_found) %>
			<%= link_to t(:follow_word), follow_word_path(keyword_id: Keyword.where(:name => @search_keyword).first.id) %>
		</span>
	</div>
<% end %>

<% if !@synonyms.blank? %>
	<div class="accordion-group">
		<div class="accordion-heading">
			<span class="accordion-toggle" data-toggle="false" href="#collective">
				<span><%= t(:view_collectives)%><i><b><%= @search_keyword %></b></i></span>
			</span>
		</div>
		<div id="collective" class="accordion-body collapse in">
			<div class="accordion-inner">
				<% key_id = Keyword.where(:name => @search_keyword).first.id %>
				<% if Keyword.get_keyword_synonym_visual(key_id) != [] %>
				 	<%= high_chart("my_id4", chart_keyword_synonym(key_id)) do |c| %>
          <%= raw "options.tooltip.formatter = function() {return '<b>'+ this.point.name +'</b>: '+ this.y +' %';}"  %>
          <%= raw "options.plotOptions.pie.dataLabels.formatter = function() { if (this.y > 5) return this.point.name; }"  %>
          <% end %>
        <% else %>
          <p><%= t(:no_votes_for_word)%></p>
      	<% end %>
			</div>
		</div>
	</div>

	<% @synonyms.each do |synonym|%>
		<div class="accordion-group">
			<div class="accordion-heading">
				<div class="row">
					<div class="span12">
						<div class="accordion-toggle" style="padding-bottom:30px;">
							<div id="synonyms<%=synonym.id%>" class="pull-left">
								<span class="span2">
									<%= synonym.name %>
								</span>
								<span class="span2" style="color:#bbb;"><i>
									<% if @votes[synonym.id] != nil%>
										<%= @votes[synonym.id].to_s + " " + t(:out_of) + " " + @total_votes.to_s + " " + t(:votes) %>
									<% else %>
										<%= "0 " + t(:out_of) + " " + @total_votes.to_s + " " + t(:votes) %> 
									<% end %>
								</i></span>
							</div>

							<div id="buttons<%=synonym.id%>" class="pull-right">
								<button id="bstats<%=synonym.id%>" class="btn btn-mini" style="display:inline;" data-toggle="collapse" href="#collapse<%= synonym.id %>" onClick="reduce_div_height()">
									    <span><%=t(:view_stats)%></span>
     									<span style="display:none"><%=t(:hide_stats)%></span>
		     							<script type="text/javascript">
												function reduce_div_height(){
													$('.centered_div .highcharts-container').css('height', '250px');
												}
		                  </script>
								</button>
								<%= button_tag(:type => "submit", :class => 'btn btn-mini',:style => "display:inline;") do %>
									<%= content_tag(:span, t(:add_to_project))%>
								<% end %>
							</div>
							<script type="text/javascript">
								<% if I18n.locale == :ar %>
									$('#synonyms<%=synonym.id%>').attr('class','pull-right');
									$('#buttons<%=synonym.id%>').attr('class','pull-left');
								<% elsif I18n.locale == :en %>
									$('#synonyms<%=synonym.id%>').attr('class','pull-left');
									$('#buttons<%=synonym.id%>').attr('class','pull-right');
								<% end %>
							</script>
							<script>
								$('#bstats<%=synonym.id%>').click(function() {
								    $('span',this).toggle();
								});
							</script>
						</div>
					</div>
				</div>
				<div id="collapse<%= synonym.id %>" class="accordion-body collapse" style="background-color:white;">
					<div class="accordion-inner">
						<!-- add charts here -->
						<% if Vote.where('synonym_id=?', synonym.id).exists? %>
						<div class="centered_div" style="background-color: white; width: 880px; margin: 0 auto;">
				    <div class="container-fluid">
              <div class="row-fluide">
                <div class="span2">
                  <%= high_chart("gender_#{synonym.id}", piechart(synonym.id,0)) do |c| %>
                      <%= raw "options.tooltip.formatter = function() {return '<b>'+ this.point.name +'</b>: '+ this.y +' %';}"  %>
                      <%= raw "options.plotOptions.pie.dataLabels.formatter = function() { if (this.y > 5) return this.point.name; }"  %>
                  <% end %>
                </div>
                <div class="span2">
                  <%= high_chart("country_#{synonym.id}", piechart(synonym.id,1)) do |c| %>
                      <%= raw "options.tooltip.formatter = function() {return '<b>'+ this.point.name +'</b>: '+ this.y +' %';}"  %>
                      <%= raw "options.plotOptions.pie.dataLabels.formatter = function() { if (this.y > 5) return this.point.name; }"  %>
                  <% end %> 
                </div>
                <div class="span2">
                  <%= high_chart("age_#{synonym.id}", piechart(synonym.id,2)) do |c| %>
                      <%= raw "options.tooltip.formatter = function() {return '<b>'+ this.point.name +'</b>: '+ this.y +' %';}"  %>
                      <%= raw "options.plotOptions.pie.dataLabels.formatter = function() { if (this.y > 5) return this.point.name; }"  %>
                  <% end %>
                </div>
                <div class="span2" id="test">
                  <%= high_chart("edu_#{synonym.id}", piechart(synonym.id,3)) do |c| %>
                      <%= raw "options.tooltip.formatter = function() {return '<b>'+ this.point.name +'</b>: '+ this.y +' %';}"  %>
                      <%= raw "options.plotOptions.pie.dataLabels.formatter = function() { if (this.y > 5) return this.point.name; }"  %>
                  <% end %>
                </div>
             </div>
		        </div>
		      	</div>
		        <% else %>
		        <%= t(:stats_no_votes) %>
		        <% end %>
					</div>
				</div>
			</div>
		</div>
	<% end %>
	<div class="well">
			<span>
				<%= t(:follow_word_link) %>
				<%= link_to t(:follow_word_end_of_search), follow_word_path(Keyword.where(:name => @search_keyword).first.id) %>
			</span>
	</div>
<% end %>
