<div class="row">
	<div class="span12">
		<%= form_tag(search_path, :method => "post", :class => "form-search") do %>
			<%= content_tag(:div, :class => 'input-append') do %>
				<% text_field_tag(:search, @search_keyword,
													:placeholder => t(:search_here),
													:class => 'search-query') + %>
				<% button_tag(:type => "submit",:class => 'btn') do %>
					<% content_tag(:i, nil,:class => "icon-search") %>
				<% end %>
			<% end %>
			<input type="hidden" value="<%= @project_id %>" name="project_id">
			<div class="row" style="padding:10px;">
				<div class="span12">
						<button type="button" class="btn btn-mini" data-toggle="collapse" data-target="#filter">
  						<span class="icon-plus"></span>
						</button>
						<span><%= t(:filter) %></span>
						<div id="filter" class="collapse"> 
							<div style="padding:10px;">
								<p>
									<%= label_tag t(:country) %>
									<%= text_field_tag(:country, @country) %>
								</p>
								<p>
									<%= label_tag t(:age_from) %>
									<%= number_field_tag :age_from, nil, :in => 10...101 %>
								</p>
								<p>
									<%= label_tag t(:age_to) %>
									<%= number_field_tag :age_to, nil, :in => 10...101 %>
								</p>
								<p>
									<%= label_tag t(:gender) %>
									<%= select_tag :gender, options_for_select(["male", "female"]), :include_blank => true %>
								</p>	
							</div>
						</div>
				</div>
			</div>
		<% end %>
	</div>
</div>


<% if @display_add %>
	<div class="well">
		<span>
			<%= t(:keyword_not_found) %>
			<%= link_to t(:add_word), "add_path" %>
		</span>
	</div>
<% end %>

<% if @no_synonyms_found %>
	<div class="well">
		<span>
			<%= t(:no_synonyms_found) %>
			<%= link_to t(:follow_word), follow_word_path(Keyword.where(:name => @search_keyword).first.id) %>
		</span>
	</div>
<% end %>


<% if !@synonyms.blank? %>
	<div class="accordion-group">
		<div class="accordion-heading">
			<span class="accordion-toggle" data-toggle="false" href="#collective">
				<span><%= t(:view_collectives)%><i><b><%= @search_keyword %></b></i></span>
			</span>
		</div>
		<div id="collective" class="accordion-body collapse in">
			<div class="accordion-inner">
				<% key_id = Keyword.where(:name => @search_keyword).first.id %>
				<% if Keyword.get_keyword_synonym_visual(key_id) != [] %>
				 	<%= high_chart("my_id4", chart_keyword_synonym(key_id)) do |c| %>
          <%= raw "options.tooltip.formatter = function() {return '<b>'+ this.point.name +'</b>: '+ this.y +' %';}"  %>
          <%= raw "options.plotOptions.pie.dataLabels.formatter = function() { if (this.y > 5) return this.point.name; }"  %>
          <% end %>
        <% else %>
          <p><%= t(:no_votes_for_word)%></p>
      	<% end %>
			</div>
		</div>
	</div>

	<% @synonyms.each do |synonym|%>
		<div class="accordion-group">
			<div class="accordion-heading">
				<div class="row">
					<div class="span12">
						<div class="accordion-toggle" style="padding-bottom:30px;">
							<div class="pull-left">
								<span class="span1">
									<%= synonym.name %>
								</span>
								<span class="span2" style="color:#bbb;"><i>
									<% if @votes[synonym.id] != nil%>
										<%= @votes[synonym.id] %>/<%= @total_votes.to_s + " " + t(:votes) %>
									<% else %>
										0/<%= @total_votes.to_s + " " + t(:votes)%>
									<% end %>
								</i></span>
							</div>
							<div class="pull-right">
								<button class="btn btn-mini" style="display:inline;" data-toggle="collapse" href="#collapse<%= synonym.id %>">
									<span><%= t(:view_stats)%></span>
								</button>
								<%= button_tag(:type => "submit", :class => 'btn btn-mini',:style => "display:inline;") do %>
									<%= content_tag(:span, t(:add_to_project))%>
									<%= button_to "Add to Project", action: "add_word",controller: "projects", :project_id => @project_id, :synonym_id => synonym.id, :keyword => @search_keyword %>
								<% end %>
							</div>
						</div>
					</div>
				</div>
				<div id="collapse<%= synonym.id %>" class="accordion-body collapse" style="background-color:white;">
					<div class="accordion-inner">
						<!-- add charts here -->
						<% if Vote.where('synonym_id=?', synonym.id).exists? %>
				    <div class="container-fluid">
              <div class="row-fluide">
                <div class="span2">
                  <%= high_chart("gender_#{synonym.id}", piechart(synonym.id,0)) do |c| %>
                      <%= raw "options.tooltip.formatter = function() {return '<b>'+ this.point.name +'</b>: '+ this.y +' %';}"  %>
                      <%= raw "options.plotOptions.pie.dataLabels.formatter = function() { if (this.y > 5) return this.point.name; }"  %>
                  <% end %>
                </div>
                <div class="span2">
                  <%= high_chart("country_#{synonym.id}", piechart(synonym.id,1)) do |c| %>
                      <%= raw "options.tooltip.formatter = function() {return '<b>'+ this.point.name +'</b>: '+ this.y +' %';}"  %>
                      <%= raw "options.plotOptions.pie.dataLabels.formatter = function() { if (this.y > 5) return this.point.name; }"  %>
                  <% end %> 
                </div>
                <div class="span2">
                  <%= high_chart("age_#{synonym.id}", piechart(synonym.id,2)) do |c| %>
                      <%= raw "options.tooltip.formatter = function() {return '<b>'+ this.point.name +'</b>: '+ this.y +' %';}"  %>
                      <%= raw "options.plotOptions.pie.dataLabels.formatter = function() { if (this.y > 5) return this.point.name; }"  %>
                  <% end %>
                </div>
                <div class="span2">
                  <%= high_chart("edu_#{synonym.id}", piechart(synonym.id,3)) do |c| %>
                      <%= raw "options.tooltip.formatter = function() {return '<b>'+ this.point.name +'</b>: '+ this.y +' %';}"  %>
                      <%= raw "options.plotOptions.pie.dataLabels.formatter = function() { if (this.y > 5) return this.point.name; }"  %>
                  <% end %>
                </div>
             </div>
		        </div>
		        <% else %>
		        <%= t(:stats_no_votes) %>
		        <% end %>
					</div>
				</div>
			</div>
		</div>
	<% end %>
	<div class="well">
			<span>
				<%= t(:follow_word_link) %>
				<%= link_to t(:follow_word_end_of_search), follow_word_path(Keyword.where(:name => @search_keyword).first.id) %>
			</span>
	</div>
<% end %>
