<div class="row">
	<div class="span12">
		<%= form_tag(search_keywords_path, :method => "post", :class => "form-search") do %>
	  	<%= content_tag(:div, :class => "input-append") do %>
	  		<% text_field_tag(:search, @search_keyword,
	  											:placeholder => t(:search_here),
	  											:class => "search-query",
                          :tabindex => "1") + %>
				<% button_tag(:type => "submit", :class => "btn", :id => "search_button",
          :tabindex => "3") do %>
					<% content_tag(:i, nil,:class => "icon-search") %>
				<% end %>
			<% end %>
      <div style="padding:5px; display:inline;">
        <select name="category_ids[]" tabindex="2" style="width:565px" id="categories-autocomplete" multiple="true">
          <% @categories_by_locale.each do |id, name| %>
            <option value="<%= id %>"><%= name %></option>
          <% end %>
        </select>
      </div>
      <input name="project_id" type="hidden" value="<%= @project_id %>"/>
		<% end %>

		<% if @similar_keywords.blank? && !@search_keyword.blank? %>
			<div class="well well-small">
				<span>
					<%= form_tag(keywords_create_path, :method => "post",
           :style => "margin-bottom:0px;", :onsubmit => "submit_add_keyword(this)") do %>
            <%= content_tag(:span, t(:keyword_not_found)) %>
            <input name="keyword[name]" value="<%= @search_keyword %>" type="hidden">
            <input name="redirect" value="<%= search_keywords_path %>" type="hidden">
            <input class="btn btn-link" style="padding:0px;" value="<%= t(:add_word) %>" type="submit">
					<% end %>
				</span>
			</div>
		<% else %>
			<% @similar_keywords.each do |c| %>
				<div class="accordion-group" style="padding:10px;">
					<div class="accordion-heading">
						<%= link_to c.name, search_path(:search => c.name, :project_id => @project_id), :method => :post %>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
</div>
<script type="text/javascript">
  function submit_add_keyword(form) {
    $form = $(form);
    $form.append($("#categories-autocomplete"));
  }

  $(document).ready(function() {
    $("#categories-autocomplete").select2({
      placeholder: "<%= t(:enter_categories) %>",
      width: 'resolve',
    }).val(preloaded).trigger("change");
    $("input[name=search]").focus()
  });

  function preloaded() {
    return <%= raw @category_ids.to_s || [] %>;
  }
</script>

