<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-signin"}) do |f| %>
  <h2 class="form-signin-heading"><%= t(:sign_in) %></h2>
  <%= f.text_field :email, :placeholder => t(:email), :class => "input-block-level" %>

  <%= f.password_field :password, :placeholder => t(:password), :class => "input-block-level" %>
  <div><%= f.submit t(:sign_in), :class => "btn btn-large btn-primary pull-right", :style => "margin-top:-7px; padding-top:4px; padding-bottom:4px;" %></div>
  
<% end %>


