<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-signin"}) do |f| %>
  <h2 class="form-signin-heading">Sign in</h2>
  <%= f.text_field :email, :placeholder => "Email", :class => "input-block-level" %>

  <%= f.password_field :password, :placeholder => "Password", :class => "input-block-level" %>

  <% if devise_mapping.rememberable? -%>
  <label class="checkbox"><%= f.check_box :remember_me %>Remember me?</label>
  <% end -%>

  <div><%= f.submit "Sign in", :class => "btn btn-large btn-primary pull-right", :style => "margin-top:-30px;" %></div>
  
<% end %>


<div id="remote">
        <div id="terms" class="box">
            <%= link_to "Terms of Service", "#" %> 
        </div>  
        <div id="services" class="box">
            <a href="/auth/facebook" class="services"><%= image_tag "facebook_64.png", :size => "64x64",  :alt => "Facebook" %>Facebook</a>
            <a href="/auth/google" class="services"><%= image_tag "google_64.png", :size => "64x64",  :alt => "Google" %>Google</a>
            <a href="/auth/github" class="services"><%= image_tag "github_64.png", :size => "64x64",  :alt => "Github" %>Github</a>
            <a href="/auth/twitter" class="services"><%= image_tag "twitter_64.png", :size => "64x64",  :alt => "Twitter" %>Twitter</a>
        </div>
    </div>
