<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-signin"}) do |f| %>
  <h2 class="form-signin-heading">Sign in</h2>
  <%= f.text_field :email, :placeholder => "Email", :class => "input-block-level" %>

  <%= f.password_field :password, :placeholder => "Password", :class => "input-block-level" %>

  <% if devise_mapping.rememberable? -%>
  <label class="checkbox"><%= f.check_box :remember_me %>Remember me?</label>
  <% end -%>

  <div><%= f.submit "Sign in", :class => "btn btn-large btn-primary pull-right", :style => "margin-top:-30px;" %></div>
<% end %>

<%= link_to "Sign in with Google", gamer_omniauth_authorize_path(:google_oauth2) %>