<%= content_for :home_content do %>
    <style> 

    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      padding-bottom: px;
      color: #5a5a5a;
    }


    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 60px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }



    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }


    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }



    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
    }


    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }

    }
    </style>
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="../assets/home_caro1.png" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1><%= t(:caro1h) %></h1>
              <p class="lead"><%= t(:caro1b) %></p>
              <a class="btn btn-primary arabicfont" href="#more"><%= t(:more) %></a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
          <img src="../assets/game.png" alt="">
          <h2><%= t(:feat1h) %></h2>
          <p><%= t(:feat1b) %></p>
          <p><a class="btn arabicfont" href="<%= game_path %>"><%= t(:play) %> &raquo;</a></p>
        </div><!-- /.span4 -->
        <% if !gamer_signed_in? %>
           <div class="span4">
            <img src="../assets/up.png" alt="">
            <h2><%= t(:feat2h) %></h2>
            <p><%= t(:feat2b) %></p>
            <p><a class="btn arabicfont" href="<%= new_gamer_registration_path %>"><%= t(:sign_up) %> &raquo;</a></p>
          </div>
        <% else %>
          <div class="span4">
            <img src="../assets/facebook_twitter.png" alt="">
            <h2><%= t(:feat4h) %></h2>
            <p><%= t(:feat4b) %></p>
            <p><a class="btn arabicfont" href="<%= edit_gamer_registration_path %>"><%= t(:settings) %> &raquo;</a></p>
          </div>
        <% end %>
        <!-- /.span4 -->
          <div class="span4">
          <img src="../assets/developers.png" alt="">
          <h2><%= t(:feat3h) %></h2>
          <p><%= t(:feat3b) %></p>

          <p><a class="btn arabicfont" href="<%= backend_home_path %>"><%= t(:backend) %> &raquo;</a></p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="featurette"  id="more">
        <img class="featurette-image pull-right" src="../assets/gear.png">
        <h2 class="featurette-heading"><%= t(:backend) %></h2>
        <p class="lead"> <span class="muted"><%= t(:featdevh1) %></span><br><%= t(:featdevb1) %></p>
        <p class="lead"> <span class="muted"><%= t(:featdevh2) %></span><br><%= t(:featdevb2) %></p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-left" src="../assets/gamer.png">
        <h2 class="featurette-heading"><%= t(:gamers) %></h2>
        <p class="lead"> <span class="muted"><%= t(:featgameh1) %></span><br><%= t(:featgameb1) %></p>
        <p class="lead"> <span class="muted"><%= t(:featdevh2) %></span><br><%= t(:featgameb2) %></p>
      </div>
      <hr class="featurette-divider">
      <!-- /END THE FEATURETTES -->
      <footer>
        <p>&copy; <%= t(:developed_by) %></p>
      </footer>
    </div>
<% end %>
<script type="text/javascript">
  <% if I18n.locale == :ar %>
    $(".arabicfont").attr("style", "font-size: 16px;");
  <% end %>
  $("#err").css("position", "fixed");
  $("#err").css("top", "50px");
  $("#err").css("left", "10%");
  $("#err").css("right", "10%");
  $("#err").fadeOut(10000);
</script>