<style>
.radio{
    display:float;
}
</style>
<div class = "container" >
    <%= form_for(@project) do |f| %>
    <% if @project.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
        <ul>
            <% @project.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
    <% end %>
    <div class="field">
        <%= t(:name)%>
        <%= f.text_field :name, :placeholder=>t(:name) %>
    </div>
    <div class="field">
        <%= t(:categories)%>
        <%= text_field_tag("project[categories]", @categories,:placeholder=>t(:enter_as_csv)) %> 
    </div><br>
    <div class="radio">
        <%= t(:formal)%>
        <%= f.radio_button :formal, 'Formal'%> 
        <br>
        <%= t(:slang)%>
        <%= f.radio_button :formal, 'Slang' %>
        </br>
    </br>
    </div>
    <div class="field">
        <div class="field"><%= t(:age)%></div>
        <%= t(:from)%>
        <%= f.text_field :minAge %>
        <%= t(:to)%>
        <%= f.text_field :maxAge %>
  </div>
  <div>
    <%= t(:desc) %>
    <%= f.text_area :description %>
</div>
<div class="actions">
    <%= f.submit %>
</div>
</div>
<% end %>
