<%= link_to t(:back), {action: "index", controller: "projects"} %>
<div class = "container well" >
    <p class="req"><%= t(:required) %></p>
    <%= form_for @project, :html => {:class => "form-horizontal"} do |f| %>
      <% if @project.errors.any? %>
        <div id="error_explanation" class="req">
           <h2 class="req"><%= pluralize(@project.errors.count, "") %> <%= t(:prohibited_project_error) %></h2>
           <ul>
               <% @project.errors.full_messages.each do |msg| %>
                 <li><%= msg %></li>
              <% end %>
           </ul>
        </div>
      <% end %>
    <div class="control-group">
        <%= f.label t(:name), :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :name, :placeholder => t(:name), :id => "project_name"%>
          <span class="req">* </span>
        </div>
    </div>
    <div class="control-group">
      <%= f.label t(:categories), :class => "control-label" %>
      <div class="controls">
        <%= text_field_tag("project[categories]", @categories, :placeholder => t(:enter_as_csv), :id => "project_name") %>
        <span class="req">* </span>
    </div>
  </div>
  <div class="control-group">
      <label class="control-label">
      <span class="help-block" id="project_name"><%= t(:formality) %></span>
      </label>
      <div class="controls">
          <label class="radio" id="project_name">
            <%= f.radio_button :formal, true %>
            <%= t(:formal) %>
          </label>
          <label class="radio" id="project_name">
            <%= f.radio_button :formal, false %>
            <%= t(:slang) %>
          </label>
      </div>
  </div>
  <div class="control-group">
      <label class="control-label">
      <span class="help-block"><%= t(:age) %></span>
      </label>
      <div class="controls d5pxup">
          <%= f.text_field :minAge, :class => "input-small", :placeholder =>  t(:from), :id => "project_name"%>
          <%= f.text_field :maxAge, :class => "input-small", :placeholder =>  t(:to), :id => "project_name" %>
          <span class="req">* </span>
      </div>
  </div>
  <div class="control-group">
      <%= f.label t(:desc), :class => "control-label" %>
      <div class="controls">
          <%= f.text_area :description, :id => "desc" %>
      </div>
  </div>
  <div class="control-group">
      <div class="controls">
          <span3><a class="btn pull-left btn-large" href="/developers/projects" style="margin-right: 20px"> <%= t(:cancel) %> </a></span3>
          <button class="btn btn-info pull-left btn-large" type="submit" style="margin-right: 20px"><%= t(:save_project) %></button>
      </div>
  </div>
  <% end %>
  </div>
