<%= link_to t(:back), {action: "index", controller: "projects"} %>
<div class = "container well" >
    <%= form_for @project, html: {class: "form-horizontal"} do |f| %>
      <% if @project.errors.any? %>
        <div id="error_explanation" class="req alert">
           <ul>
               <% @project.errors.full_messages.each do |msg| %>
                 <li><%= msg %></li>
              <% end %>
           </ul>
        </div>
      <% end %>
    <p class="req"><%= t(:required) %></p>
    <br>
    <div class="control-group">
        <%= f.label t(:name), class: "control-label" %>
        <div class="controls">
          <%= f.text_field :name, placeholder: t(:name), id: "project_name"%>
          <span class="req">* </span>
        </div>
    </div>
    <div class="control-group">
      <%= f.label t(:category), class: "control-label" %>
      <div class="controls">
        <% if params[:action] == "new" %>
          <%= f.collection_select(:category, Category.all, :id, :get_name_by_locale, { prompt: true }, { id:"cat" }) %>
        <% else %>
        <% if @project.category_id != nil %>
          <%= f.collection_select(:category, Category.all, :id, :get_name_by_locale, { prompt: @select_value, selected: @project.category_id.to_i, include_blank: t(:please_select) }, { id:"cat" } ) %>
        <% else %>
          <%= f.collection_select(:category, Category.all, :id, :get_name_by_locale, { prompt: true, selected: @project.category_id.to_i }, { id:"cat" } ) %>
          <% end %>
        <% end %>
    </div>
  </div>
  <div class="control-group">
      <label class="control-label">
      <span class="help-block" id="project_name"><%= t(:formality) %></span>
      </label>
      <div class="controls">
          <label class="radio" id="project_name">
            <%= f.radio_button :formal, true %>
            <%= t(:formal) %>
          </label>
          <label class="radio" id="project_name">
            <%= f.radio_button :formal, false %>
            <%= t(:slang) %>
          </label>
      </div>
  </div>
  <h5><%= t(:target) %></h5>
  <br>
   <div class="control-group">
    <%= f.label t(:target_country), :class => "control-label", id: "project_name" %>
    <% if params[:action] == "new" %>
      <%= f.select(:country, ([[t(:egypt),"Egypt"],[t(:lebanon),"Lebanon"],
      [t(:jordan),"Jordan"],[t(:saudi_arabia),"Saudi Arabia"],[t(:libya),"Libya"],[t(:united_arab_emirates),"United Arab Emirates"],[t(:qatar),"Qatar"],[t(:kuwait),"Kuwait"],[t(:iraq),"Iraq"],[t(:algeria),"Algeria"],[t(:morocco),"Morocco"],[t(:bahrain),"Bahrain"],[t(:mauritania),"Mauritania"],[t(:somalia),"Somalia"],[t(:sudan),"Sudan"],[t(:tunisia),"Tunisia"],[t(:others),"others"]]), {}, { id:"cat" }) %>
     <% else %>
      <%= f.select(:country, ([[t(:egypt),"Egypt"],[t(:lebanon),"Lebanon"],
      [t(:jordan),"Jordan"],[t(:saudi_arabia),"Saudi Arabia"],[t(:libya),"Libya"],[t(:united_arab_emirates),"United Arab Emirates"],[t(:qatar),"Qatar"],[t(:kuwait),"Kuwait"],[t(:iraq),"Iraq"],[t(:algeria),"Algeria"],[t(:morocco),"Morocco"],[t(:bahrain),"Bahrain"],[t(:mauritania),"Mauritania"],[t(:somalia),"Somalia"],[t(:sudan),"Sudan"],[t(:tunisia),"Tunisia"],[t(:others),"others"]]),  { prompt: @select_value, selected: @project.country }, { id:"cat" }) %>
    <% end %>
  </div>
  <div class="control-group">
      <%= f.label t(:pro_gender), :class => "control-label", id: "project_name"%>
      <% if params[:action] == "new" %>
        <%= f.select(:gender, (['',[t(:pro_male),"male"],[t(:pro_female),"female"]]), {}, { id:"gender" }) %>
      <% else %>
        <%= f.select(:gender, (['',[t(:pro_male),"male"],[t(:pro_female),"female"]]),  { prompt: @select_value, selected: @project.gender }, { id:"gender" }) %>
      <% end %>
  </div>
  <div class="control-group">
      <label class="control-label">
      <span class="help-block"><%= t(:target_age) %></span>
      </label>
      <div class="controls d5pxup">
          <%= f.text_field :minAge, class: "input-small", placeholder:  t(:from), id: "project_name"%>
          <%= f.text_field :maxAge, class: "input-small", placeholder:  t(:to), id: "project_name" %>
      </div>
  </div>
  <div class="control-group">
    <%= f.label t(:education_level), :class => "control-label", id: "project_name"%>
    <% if params[:action] == "new" %>
      <%= f.select(:education_level, (['',[t(:school),"School"],[t(:university),"University"],[t(:graduate),"Graduate"]]), {}, { id:"cat" }) %>
    <% else %>
      <%= f.select(:education_level, (['',[t(:school),"School"],[t(:university),"University"],[t(:graduate),"Graduate"]]),  { prompt: @select_value, selected: @project.education_level }, { id:"cat" }) %>
    <% end %>
  </div>
  <br>
  <h5><%= t(:desc) %>:</h5>
  <div class="control-group">
   <%= f.label t(:desc2), :class => "control-label", id: "project_name"%>
    <%= f.text_area :description, id: "desc" %>
  </div>
  <div class="control-group">
    <% if I18n.locale == :en %>
    <div class="controls">
      <span3><a class="btn pull-right" href="/developers/projects" style="margin-right: 20px"> <%= t(:cancel) %> </a></span3>
      <button class="btn btn-info pull-right" type="submit" style="margin-right: 20px"><%= t(:save_project) %></button>
    </div>
    <% else %>
    <div class="controls">
      <span3><a class="btn pull-left" href="/developers/projects" style="margin-right: 20px"> <%= t(:cancel) %> </a></span3>
      <button class="btn btn-info pull-left" type="submit" style="margin-right: 20px; font-size=100"><%= t(:save_project) %></button>
    </div>
    <% end %>
<% end %>
</div>
</div>