<h3>Please select from the words below to be imported to your project</h3>
<%= form_tag add_from_csv_keywords_project_path, :method => :put, :id => 'form_to_select_words' do %>
  <input type="hidden" value="<%= @id_words_in_database_before %>" name="id_words_in_database_before">
  <input type="hidden" value="<%= @id_synonyms_words_in_database_before %>" name="id_synonyms_words_in_database_before">
  <input type="hidden" value="<%= @id_words_not_in_database_before %>" name="id_words_not_in_database_before">
  <input type="hidden" value="<%= @id_synonyms_words_not_in_database_before %>" name="id_synonyms_words_not_in_database_before">
  <% for word in @words_in_database_before %>
    <%= check_box_tag "words_ids[]", word.id %>
    <%= word.name %>
    <br />
  <% end %>
  <% for word in @words_not_in_database_before %>
    <%= check_box_tag "words_ids[]", word.id %>
    <%= word.name %> <span style="color:red;">*new*</span>
    <br />
  <% end %>
  <br />
  <%= submit_tag "Import to project" %>
<% end %>
<script type="text/javascript">
checkboxlimit(form_to_select_words, 2)
</script>