<legend>
  <a>
    <%= t(:projects_index_title)%>
  </a>
</legend>
<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab"><%= t(:projects_index_tab1)%></a></li>
    <li><a id="projects_shared" href="#tab2" data-toggle="tab"><%= t(:projects_index_tab2)%></a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p><a class="btn" href="<%= new_project_path %>"><i class="icon-plus"></i><%= t(:projects_index_add)%></a>
      <br />
      <br />
      <%counter_bigloop = 0%>
      <%size_bigloop = @my_projects.size%>
      <table>
      <% while counter_bigloop < size_bigloop %>
        <%project1 = @my_projects[counter_bigloop]%>
        <%project2 = @my_projects[counter_bigloop + 1]%>
        <tr>
          <td class="span5">
            <div class="well well-small" style="padding-bottom: 20px;">
              <strong><%= t(:projects_index_name)%></strong><%= link_to project1.name, :controller => "projects", :action => "show", :id =>project1 %>
              <br />
              <strong><%= t(:projects_index_categories)%></strong>
              <% if project1.category == nil %>
              <%= t(:no_categories) %>
              <% else %>
                  <%= project1.category.get_name_by_locale %>,
              <% end %>

              <br />
              <strong><%= t(:projects_index_description)%></strong>
              <% if project1.description!= nil %>
              <%= t(:no_description) %>
              <% else %>
              <%= project1.description %>
              <% end %>
  <br />
  <% if I18n.locale == :ar %>
    <a class="btn pull-left" href="/developers/projects/<%= project1.id %>/edit"><i class="icon-edit"></i><%= t(:projects_index_edit)%></a>
  <% else %>
    <a class="btn pull-right" href="/developers/projects/<%= project1.id %>/edit"><i class="icon-edit"></i><%= t(:projects_index_edit)%></a>
  <% end %>
  <br />
            </div>
          </td>
          <td style="width:40px;"></td>
            <%if project2 != nil%>
              <td class="span5">
                <div class="well well-small" style="padding-bottom: 20px;">
                  <strong><%= t(:projects_index_name)%></strong><%= link_to project2.name, :controller => "projects", :action => "show", :id =>project2 %>
                  <br />
                  <strong><%= t(:projects_index_categories)%></strong>
                  <strong><%= t(:projects_index_categories)%></strong>
              <% if project2.category == nil %>
              <%= t(:no_categories) %>
              <% else %>
                  <%= project2.category.get_name_by_locale %>,
              <% end %>

              <br />
                  <strong><%= t(:projects_index_description)%></strong>
                  <% if project2.description.size == 0 %>
              <%= t(:no_description) %>
              <% else %>
              <%= project2.description %>
              <% end %>
  <br />
  <% if I18n.locale == :ar %>
    <a class="btn pull-left" href="/developers/projects/<%= project2.id %>/edit"><i class="icon-edit"></i><%= t(:projects_index_edit)%></a>
  <% else %>
    <a class="btn pull-right" href="/developers/projects/<%= project2.id %>/edit"><i class="icon-edit"></i><%= t(:projects_index_edit)%></a>
  <% end %>
  <br />
                </div>
              </td>
            <%end%>
          </tr>
          <% counter_bigloop = counter_bigloop +2 %>
        <% end %>
      </table>
    </p>

    </div>
    <div class="tab-pane" id="tab2">
      <p>
        <%if @shared_projects.size == 0%>
          <span style="color:red;"><%= t(:projects_index_no_shared_projects)%></span>
        <%else%>
          <%counter_bigloop = 0%>
<%size_bigloop = @shared_projects.size%>
<table>
<% while counter_bigloop < size_bigloop %>
<%project1 = @shared_projects[counter_bigloop]%>
<%project2 = @shared_projects[counter_bigloop + 1]%>
  <tr>
    <td class="span5">
      <div class="well well-small" style="padding-bottom: 20px;">
        <strong><%= t(:projects_index_name)%></strong><%= link_to project1.name, :controller => "projects", :action => "show", :id =>project1 %>
        <br />
  <br />
  <strong><%= t(:projects_index_description)%></strong>
  <% if project1.description.size == 0 %>
              <%= t(:no_description) %>
              <% else %>  
              <%= project1.description %>
              <% end %>
  <br />
  <% if I18n.locale == :ar %>
    <a class="btn pull-left" style="font-size:17px;" href="/developers/projects/<%= project1.id %>/edit"><i class="icon-edit"></i><%= t(:projects_index_edit)%></a>
  <% else %>
    <a class="btn pull-right" href="/developers/projects/<%= project1.id %>/edit"><i class="icon-edit"></i><%= t(:projects_index_edit)%></a>
  <% end %>
  <% if I18n.locale == :ar %>
   <a style="margin-left : 6px; font-size:17px;" href="#delete_modal" role="button" class="btn pull-left btn-danger" onClick="modalToggle()" id="LaunchDemo"><i class="icon-remove"></i><%= t(:projects_index_delete)%></a>
  <% else %>
  <a style="margin-right : 6px;" href="#delete_modal" role="button" class="btn pull-right btn-danger" onClick="modalToggle()" id="LaunchDemo"> <i class="icon-remove"></i><%= t(:projects_index_delete)%></a>
  <% end %>
    <div id="delete_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 id="modal_label"><%= t(:delete_share) %></h3>
      </div>
      <div class="modal-body">
        <h6><%= t(:confirm_share)%></h6>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" style="font-size: 17px;"><%= t(:close_share) %></button>
        <%= link_to t(:submit_remove), "/developers/projects/remove_project_from_developer?dev_id=#{@developer.id}&project_id=#{project1.id}",:class => "btn btn-danger ",:style => "font-size: 17px;" %>
      </div>
    </div>
  <br />
</div>
    </td>
    <td style="width:40px;"></td>
    <%if project2 != nil%>
      <td class="span5">
      <div class="well well-small" style="padding-bottom: 20px;">
  <strong><%= t(:projects_index_name)%></strong><%= link_to project2.name, :controller => "projects", :action => "show", :id =>project2 %>
  <br />
  <br />
  <strong><%= t(:projects_index_description)%></strong>
  <% if project2.description.size == 0 %>
              <%= t(:no_description) %>
              <% else %>  
              <%= project2.description %>
              <% end %>
  <br />
   <% if I18n.locale == :ar %>
    <a class="btn pull-left" style="font-size:17px;" href="/developers/projects/<%= project1.id %>/edit"><i class="icon-edit"></i><%= t(:projects_index_edit)%></a>
  <% else %>
    <a class="btn pull-right" href="/developers/projects/<%= project1.id %>/edit"><i class="icon-edit"></i><%= t(:projects_index_edit)%></a>
  <% end %>
  <% if I18n.locale == :ar %>
   <a style="margin-left : 6px; font-size:17px;" href="#delete_modal" role="button" class="btn pull-left btn-danger" onClick="modalToggle()" id="LaunchDemo"><i class="icon-remove"></i><%= t(:projects_index_delete)%></a>
  <% else %>
  <a style="margin-right : 6px;" href="#delete_modal" role="button" class="btn pull-right btn-danger" onClick="modalToggle()" id="LaunchDemo"> <i class="icon-remove"></i><%= t(:projects_index_delete)%></a>
  <% end %>
    <div id="delete_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 id="modal_label"><%= t(:delete_share) %></h3>
      </div>
      <div class="modal-body">
        <h6><%= t(:confirm_share)%></h6>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" style="font-size: 17px;"><%= t(:close_share) %></button>
        <%= link_to t(:submit_remove), "/developers/projects/remove_project_from_developer?dev_id=#{@developer.id}&project_id=#{project1.id}",:class => "btn btn-danger ",:style => "font-size: 17px;" %>
      </div>
    </div>
  <br />
</div>
    </td>
    <%end%>
  </tr>
  <% counter_bigloop = counter_bigloop +2 %>
<% end %>
</table>
        <%end%>
      </p>
    </div>
  </div>
</div>
<script type="text/javascript">
<%= render "remove.js" %>
</script>