<legend>
  <a>
    <%= t(:projects_index_title)%>
  </a>
</legend> 
<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab"><%= t(:projects_index_tab1)%></a></li>
    <li><a id="projects_shared" href="#tab2" data-toggle="tab"><%= t(:projects_index_tab2)%></a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p><a class="btn" href="<%= new_project_path %>"><i class="icon-plus"></i><%= t(:projects_index_add)%></a>
      <br />
      <br />
      <%counter_bigloop = 0%>
      <%size_bigloop = @my_projects.size%>
      <table>
      <% while counter_bigloop < size_bigloop %>
        <%project1 = @my_projects[counter_bigloop]%>
        <%project2 = @my_projects[counter_bigloop + 1]%>
        <tr>
          <td class="span5">
            <div class="well well-small">
              <strong><%= t(:projects_index_name)%></strong><%= link_to project1.name, :controller => "projects", :action => "show", :id =>project1 %>
              <br />
              <strong><%= t(:projects_index_categories)%></strong>
              <% size = project1.categories.length %>
              <% counter = 1 %>
              <% project1.categories.each do |c| %>
                <% if counter < size %>
                  <%= c.name %>,
                  <% counter = counter + 1 %>
                <% else %>
                  <%= c.name %>
                <% end %>
              <% end %>
              <br />
              <strong><%= t(:projects_index_description)%></strong><%= project1.description %>
              <br />
              <a class="btn" href="/developers/projects/<%= project1.id %>/edit"><i class="icon-edit"></i><%= t(:projects_index_edit)%></a>
              <% project1.developers_shared.each do |dev|%>
                <%= dev.name %>
                <a href="/developers/projects/remove_developer_from_project?dev_id=<%=dev.id%>&project1_id=<%=project1.id%>">Remove Share</a>
              <% end %>
            </div>
          </td>
          <td class="sapn12"></td>
            <%if project2 != nil%>
              <td class="span5">
                <div class="well well-small">
                  <strong><%= t(:projects_index_name)%></strong><%= link_to project2.name, :controller => "projects", :action => "show", :id =>project2 %>
                  <br />
                  <strong><%= t(:projects_index_categories)%></strong>
                  <% size = project2.categories.length %>
                  <% counter = 1 %>
                  <% project2.categories.each do |c| %>
                    <% if counter < size %>
                      <%= c.name %>,
                      <% counter = counter + 1 %>
                    <% else %>
                      <%= c.name %>
                    <% end %>
                  <% end %>
                  <br />
                  <strong><%= t(:projects_index_description)%></strong><%= project2.description %>
                  <br />
                  <a class="btn" href="/developers/projects/<%= project2.id %>/edit"><i class="icon-edit"></i><%= t(:projects_index_edit)%></a>
                </div>
              </td>
            <%end%>
          </tr>
          <% counter_bigloop = counter_bigloop +2 %>
        <% end %>
      </table>
    </p>
    </div>
    <div class="tab-pane" id="tab2">
      <p>
        <%if @shared_projects == nil%>
          <span style="color:red;"><%= t(:projects_index_no_shared_projects)%></span>
        <%else%>
          <%counter_bigloop = 0%>
<%size_bigloop = @shared_projects.size%>
<table>
<% while counter_bigloop < size_bigloop %>
<%project1 = @shared_projects[counter_bigloop]%>
<%project2 = @shared_projects[counter_bigloop + 1]%>
  <tr>
    <td class="span5">
      <div class="well well-small">
        <strong><%= t(:projects_index_name)%></strong><%= link_to project1.name, :controller => "projects", :action => "show", :id =>project1 %>
        <br />
  <strong><%= t(:projects_index_categories)%></strong>
  <% size = project1.categories.length %>
  <% counter = 1 %>
  <% project1.categories.each do |c| %>
    <% if counter < size %>
      <%= c.name %>,
      <% counter = counter + 1 %>
    <% else %>
      <%= c.name %>
    <% end %>
  <% end %>
  <br />
  <strong><%= t(:projects_index_description)%></strong><%= project1.description %>
  <br />
</div>
    </td>
    <td class="sapn12"></td>
    <%if project2 != nil%>
      <td class="span5">
      <div class="well well-small">
  <strong><%= t(:projects_index_name)%></strong><%= link_to project2.name, :controller => "projects", :action => "show", :id =>project2 %>
  <br />
  <strong><%= t(:projects_index_categories)%></strong>
  <% size = project2.categories.length %>
  <% counter = 1 %>
  <% project2.categories.each do |c| %>
    <% if counter < size %>
      <%= c.name %>,
      <% counter = counter + 1 %>
    <% else %>
      <%= c.name %>
    <% end %>
  <% end %>
  <br />
  <strong><%= t(:projects_index_description)%></strong><%= project2.description %>
  <br />
</div>
    </td>
    <%end%>
  </tr>
  <% counter_bigloop = counter_bigloop +2 %>
<% end %>
</table>
        <%end%>
      </p>
    </div>
  </div>
</div>