<h1>Projects</h1>
<br />
<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">مشاريعي</a></li>
    <li><a href="#tab2" data-toggle="tab">مشاريع مشتركة معي</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p><a class="btn" href="<%= new_project_path %>"><i class="icon-plus"></i> New Project</a>
      <br />
      <% @projects.each do |project| %>
        <div class="well well-small">
          <strong>اسم:</strong>
          <br />
          <%= link_to project.name, :controller => "projects", :action => "show", :id =>project %>
          <br />
          <strong>فئات:</strong>
          <br />
          <% size = project.categories.length %>
          <% counter = 1 %>
          <% project.categories.each do |c| %>
            <% if counter < size %>
              <%= c.name %>,
              <% counter = counter + 1 %>
            <% else %>
              <%= c.name %>
            <% end %>
          <% end %>  
          <br />
          <strong>وصف:</strong>
          <br />  
          <%= project.description %>
          <br />
          
          <a class="btn" href="/developers/projects/<%= project.id %>/edit"><i class="icon-edit"></i></a>
          <br />
          <% project.developers_shared.each do |dev|%>
            <%= dev.name %>
            <a href="/projects/remove_developer_from_project?dev_id=<%=dev.id%>&project_id=<%=project.id%>">Remove Share</a>
          <% end %>
        </div>
      <br />
      <% end %>
      </p>
    </div>
    <div class="tab-pane" id="tab2">
      <p>
        <% @shared_projects.each do |project| %>
          <div class="well well-small">
          <strong>اسم:</strong>
          <br />
          <%= project.name %>
          <br />
          <strong>فئات:</strong>
          <br />
          <% size = project.categories.length %>
          <% counter = 1 %>
          <% project.categories.each do |c| %>
            <% if counter < size %>
              <%= c.name %>,
              <% counter = counter + 1 %>
            <% else %>
              <%= c.name %>
            <% end %>
          <% end %>
          <br />
          <strong>وصف:</strong>
          <br />  
          <%= project.description %>
          </div>
          <br />
        <% end %>
      </p>
    </div>
  </div>
</div>  