  <h3>
    <%= t(:project) %>
    : 
    <%= @project.name %>
  </h3>
  <br>
  <form>
    <div class="container well" align="center" style="width:900px">
      <div class="btn-toolbar" style="margin: 0;">
        <div class="btn-group">
          <button class="btn">
            <i class="icon-plus-sign">
            </i> 
            <a href="/developers/search_keywords/?project_id=<%= @project.id %>" class="css_class" style="color:#000"><%= t(:Add_words)%></a>
            <span>
            </span>
          </button>
        </div>
        <div class="btn-group">
          <button class="btn dropdown-toggle" data-toggle="dropdown">
            <i class="icon-file">
            </i> 
            <%= t(:import) %> 
            <span class="caret">
            </span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a href= "<%=import_csv_project_path%>">
                csv
              </a>
            </li>
          </ul>
        </div>
        <div class="btn-group">
          <button class="btn dropdown-toggle" data-toggle="dropdown">
            <i class="icon-briefcase">
            </i> 
            <%= t(:export) %> 
            <span class="caret">
            </span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <%= link_to t(:file) + ".csv", action: "export_to_csv", controller: "projects", project_id: @project.id %>
            </li>
            <li>
              <%= link_to t(:file) + ".xml", action: "export_to_xml", controller: "projects", project_id: @project.id %>
            </li>
            <li>
              <%= link_to t(:file) + ".json", action: "export_to_json", controller: "projects", project_id: @project.id %>
            </li>
          </ul>
        </div>
        <div class="btn-group">

        <a class="btn" href="<%= share_project_path %>"><i class="icon-share"></i> <%= t(:share) %></a>
      </div>
        
      </div>
      <br>
      <table class="table table-hover table-bordered table-condensed"style="width:800px;background-color:white">
        <col style="width:20%">
        <col style="width:20%">
        <col style="width:15%">
        <% if @words.count == 0 %>
          <div class="well">
              <span>
                <%= t(:no_words_in_project) %>
              </span>
          </div>
        <% else %>
          <th style="text-align:center">
            <%= t(:word) %>
          </th>
          <th style="text-align:center">
            <%= t(:meaning) %>
          </th>
          <th style="text-align:center">
          </th>
          <% count=0 %>
          <% while count<@words.count %>
            <tr>
              <td style="text-align:center; vertical-align: middle;">
                <% keyword = @words[count].name%>
                <%= link_to keyword, search_path(search: keyword, project_id: @project.id), :method => :post %>
              </td>
              <td style="text-align:center">
                <%= collection_select(:synonym_name , :text, @words[count].synonyms.collect {|syn| syn} , :id, :name, {selected: @synonyms[count].id}, {:class => 'select_change', name: 'normalSelect', id: 'synonym_select', style:'width:50%'}) %>
              </td>
              <td style="text-align:center; vertical-align: middle;" >
                <%= link_to t(:remove_from_project), {action: "remove_word", controller: "projects", project_id: @project.id, word_id: @words[count].id}, {style:"color:#FF0000", class: "css_class"} %>
              </td>
              <% count = count + 1 %>
            </tr>
          <% end %>
        <% end %>
            <tr style="text-align:center" >
              <td style="text-align:center">
                <% if I18n.locale == :en %>
                <div class="input-append" style="margin-top:10px;" >
                  <input type="text"  class="search-query autocomplete" name="keyword_search" id ="selected_keyword" autocomplete="off" placeholder="search keyword here") ></input>
                </div>
                <% else %>
                 <div class="input-append" style="margin-top:10px;" >
                  <input type="text"  class="search-query autocomplete" name="keyword_search"  id ="selected_keyword" autocomplete="off" placeholder="ابحث عن كلمة هنا") ></input>
                </div>
                <% end %>
              </td> 
              <td style="text-align:center" >
                <%= collection_select(:synonym_name , :text, [], :id, :name, {prompt: t(:enter_word_first) }, {:class=>'input_synonym', name: 'select_menu', id: 'selected_synonym', disabled: true, style:'width:70%; margin-top:10px;'}) %>
              </td> 
              <td style="text-align:center">
                <%= link_to t(:add_to_project), {action:"add_word_inside_project", controller:"projects", project_id: @project.id, keyword:"download", synonym_id:395},{style:"font-size:15px; text-align:center; margin-top:10px;", onclick:"compute_and_click()", class:"btn btn-primary", id:"add_button",disabled:"true", type:"submit" } %>
             </td>
            </tr>
      </table>
      <p id="illustration"></br></p>
    </div>
  </form> 
<script type="text/javascript" charset="utf-8">
  $('#selected_keyword').change(function(){$('.popover').hide()});
  $("#add_button").removeAttr('href');
  $(".select_change").change(function(){
      var new_synonym_id = $(this).val();
      $.ajax({
        type: "GET",
        url: "/developers/projects/"+"<%= @project.id %>"+"/change_synonym",
        data: { synonym_id: new_synonym_id, keyword: "download",project_id: "<%= @project.id %>" },
        success: function(){ 
          update_adding_synonym_alerts("<%= t(:Synonym_changed_successfully) %>"); 
        }
      })
    });
  
  $("#selected_keyword").change(function (){
    load_synonyms();
  });
  
  $(".autocomplete").typeahead({
    source: fetch_keywords,
    items: 10,
    highlighter: function(item) {
      return item
    },
    updater: function(item){
      document.getElementById('illustration').innerHTML = '</br>';
      if(item.charAt(item.length-1) == ">"){
       item = item.substring(0,item.indexOf("<"));
     }
     return item
    }
  });
  
  function fetch_keywords(keyword, callback){
    $.post("autocomplete_keyword", { keyword_search: keyword, project_id: <%= @project.id %> }, function(data){
      length = data[Object.keys(data).length-1];
      data = data.slice(0,-1); 
      for(var i = 0; i < Object.keys(data).length; i++){
        if(i >= length){
         data[i] = data[i]+"   *".fontcolor("red") ;
        }
      }
      <% if I18n.locale == :en %>
        document.getElementById('illustration').innerHTML = 'Keywords with <font color="red">   *   </font> are not in your project categories';
      <% else %>
        document.getElementById('illustration').innerHTML = 'الكلمات المصحوبة ب<font color="red">   *   </font>ليس في فئات مشروعك.';
      <% end %>
      callback(data);
    })
  }

  function load_synonyms(){
    var keyword = $("#selected_keyword").val();
    $.post("/developers/projects/load_synonyms",{word:keyword, project_id: "<%= @project.id %>"} );
  }
  
  function compute_and_click(){
    $("#add_button").removeAttr('href');
    var keyword_name = $("#selected_keyword").val();
    var synonym_id = $("#selected_synonym option:selected").val();
    var keyword_in_params = "keyword="+keyword_name;
    var locale_in_params = "&locale="+"<%= I18n.locale %>"
    var synonym_id_in_params = "&synonym_id="+synonym_id
    var url = "/developers/projects/"+"<%= @project.id %>"+"/add_word_inside_project?"
    var complete_url = url + keyword_in_params + locale_in_params + synonym_id_in_params
    if($("#add_button").attr("disabled") == "disabled" ){
      return;
    }
    else{
      $('#add_button').attr('href',complete_url);
      $('#add_button').attr( 'onClick', 'return false' );
    }
  }
  function update_adding_synonym_alerts(message_error){
    $('.alert').remove();
    var message = message_error;
    var alert_added = []
    alert_added.push(" <div class='alert alert-success row'> ");
    alert_added.push(" <button type='button' class='close' data-dismiss='alert'>&times;</button> ");
    alert_added.push(message);
    alert_added.push(" </div> ");
    $('.content').prepend(alert_added.join(" "));
  }
  function follow_popover (){
    var keyword = $('#selected_keyword').val();
    $.post("/developers/projects/"+"<%= @project.id %>"+"/test_followed_keyword", {keyword:$('#selected_keyword').val()});
      var button = ""
      var paragraph = ""
      if(test_followed() == "true"){
        button = "<a class='btn btn-danger' id='unfollow_button' onclick='unfollow()'><%= t(:project_keyword_unfollow)%></a>"
        paragraph = "<p style='font-weight:bold;'>"+"<%= t(:you_followed_word) %>"+"</p>"
      }
      else{
        button = "<a class='btn btn-primary' id='follow_button' onclick='follow()'><%= t(:project_keyword_follow)%></a>"
      }
    $("#selected_synonym").popover({
        trigger: 'manual',
        html: 'true',
        title: '<%= t(:no_translation_popover_title) %>'+'<button type="button" class="close" data-dismiss="popover" aria-hidden="true" onclick="$(\'.popover\').hide()">&times;</button>',
        content: paragraph + "<%= t(:you_can)%>" +button + "<%= t(:this_keyword)%>",
        placement:'bottom' 
      });
    $('#selected_synonym').popover('show');
    $('.popover').width(350);
    $('.popover-title').css('font-weight','bold');
  }
</script>