<div class="container" border="1"> 
	<h3><%= t(:project)%>: <%=@project.name %></h3><br>
	<%= link_to 'Import CSV file', import_csv_project_path %>
	<%= button_to "Add words", action: "search", controller: "search", :project_id => @project.id %>
	<form>
		<div class="container well">
			<div class="btn-toolbar" style="margin: 0;">
				<div class="btn-group">
					<button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-file"></i> <%= t(:import) %> <span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><a href= "#">csv</a></li>
					</ul>
				</div>
				<div class="btn-group">
					<button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-briefcase"></i> <%= t(:export) %> <span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><a href= "#">csv</a></li>
					</ul>
				</div>
				<div class="btn-group">
					
				</div>
				<div class="btn-group">
					<button class="btn"><i class="icon-thumbs-up"></i> <%= t(:recommended_words) %> <span></span></button>
				</div>
				<div class="btn-group">
					<button class="btn"><i class="icon-share"></i> <%= t(:share) %> <span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><a href= "#">Share project</a></li>
						<li><a href= "#">People shared with</a></li>
					</ul>
				</div>
				<div class="btn-group">
					<button class="btn"><i class="icon-edit"></i> <%= t(:edit_project) %> <span></span></button>
				</div>
				<div class="btn-group">
					<button class="btn"><i class="icon-trash"></i> <%= t(:delete) %> <span></span></button>
				</div>
				<div class="btn-group">
					<button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-question-sign"></i>  <%= t(:help) %> <span class="caret"></span></button>
				</div>
			</div><br>
			<table class="table table-bordered" style="width:940px;background-color:white" >
				<col style="width:25%">
        		<col style="width:75%">
				<tr>
					<td style="text-align:center"><%= t(:word) %></td>
					<td style="text-align:center"><%= t(:meaning) %></td>
				</tr>
			</table>
			<table class="table table-hover table-bordered table-condensed"style="width:940px;background-color:white">
				<col style="width:25%">
        		<col style="width:75%">
        		
			</table>
		</div>
	</form>

<p id="notice"><%= notice %></p>
<p>
  <b>Name:</b>
  <%= @project.name %>
</p>
<%= link_to 'Back', projects_path %>