<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Category:</b>
  <%= @project.category %>
</p>

<p>
  <b>Formal:</b>
  <%= @project.formal %>
</p>

<p>
  <b>Minage:</b>
  <%= @project.minAge %>
</p>

<p>
  <b>Maxage:</b>
  <%= @project.maxAge %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Words:</b>
  <%= @project.words %>
</p>

<p>
  <b>Sharedwith:</b>
  <%= @project.sharedWith %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
