<Legend class="container"><%= t(:recommended_for_project)%></Legend>
<br>
<% if @karray.size == 0 || @karray == nil %>
  <div class="well">
    <span>
      <%= t(:no_recommended_words) %>
    </span>
  </div>
  <div style="text-align:center">
    <span><a class="btn pull-center" href="/developers/projects/<%= @project.id %>" > <%= t(:rec_back) %> </a></span>
  </div>
<% else %>
<p style="color:blue"><%= t(:select_words) %><p>
  <table class="table table-bordered table-condensed" style="width:600px;background-color:white">
    <col style="width:10%">
    <col style="width:45%">
    <col style="width:45%">
    <%= form_tag get_recommended_words_path, :method => :post do %>
      <% for keyword in @karray %>
      <tr>
        <td style="text-align:center; vertical-align: middle">
          <%= check_box_tag "keyword_ids[]", keyword.id %>
        </td>
        <td style="text-align:center; vertical-align: middle">
          <%= keyword.name %>
        </td>
        <td style="text-align:center; vertical-align: middle">
         <%= collection_select(:synonym, keyword.id, keyword.synonyms, :id, :name, {}, { id:"key", disabled: true, 'data-id' => keyword.id }) %>
       </td>
      </tr>
  <% end %>
</table>
<% if I18n.locale == :en %>
  <span4><a class="btn pull-right" href="/developers/projects/<%= @project.id %>" style="margin-left: 20px"> <%= t(:cancel) %> </a></span4>
  <%= submit_tag t(:add_to_project), :class => "btn btn-primary pull-right", :onclick => "return check();" %>
<% else %>
  <span3><a class="btn pull-left" href="/developers/projects/<%= @project.id %>" style="margin-right: 20px"> <%= t(:rec_back) %> </a></span3>
  <%= submit_tag t(:add_to_project), :class => "btn btn-primary pull-left", :onclick => "return check();" %>
   <% end %>
  <% end %>
<% end %>
<script type="text/javascript">
function check(){
  var array = [];
  var inpfields = frm.getElementsByTagName('check_box_tag');
  var nr_inpfields = inpfields.length;
  for(var i=0; i<nr_inpfields; i++) {
    if(inpfields[i].type == 'checkbox' && inpfields[i].checked == true) array.push(inpfields[i].value);
  }
  return array;
}
</script>
<script type="text/javascript">
$('input[type=checkbox]').click(function() {
  var $this = $(this);
  if ($this.is(':checked')) {
    $("select[data-id=" + $this.val() + "]").removeAttr("disabled");
  } else {
    $("select[data-id=" + $this.val() + "]").attr("disabled", "disabled");
  }
});
</script>