<div style="<%= 'direction: rtl; font-size: 20px;' if I18n.locale == :ar %>">
  <p><%= I18n.t(:hello) %> <%= @resource.username %>!</p>

  <p><%= I18n.t(:some_one_request) %></p>

  <p><%= link_to t(:change_password), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

  <p><%= I18n.t(:ignore_this_reset) %></p>

  <h4><%= I18n.t(:arability) %></h4>
</div>
