<!doctype html>
<html dir="rtl">
<head>
	<title>Arability</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%= stylesheet_link_tag "bootstrap.rtl", :media => "all" %>
	<%= stylesheet_link_tag "bootstrap-responsive.rtl", :media => "all" %>
	<%= stylesheet_link_tag "bootstrap-fileupload.min", :media => "all" %>
	<%= stylesheet_link_tag "bootstrap-rtl-overrides", :media => "all" %>
	<%= stylesheet_link_tag "admin", :media => "all" %>
	<%= csrf_meta_tags %>
	<style>
		body {
			padding-top: 60px;
		}
		@media screen and (max-width: 768px) {
			body {
				padding-top: 0px;
			}
		}
	</style>
</head>
<body>
	<%= render 'admin/admin-navbar' %>

	<%= yield %>

	<%= javascript_include_tag "jquery.min" %>
	<%= javascript_include_tag "bootstrap.rtl" %>
	<%= javascript_include_tag "jquery.validate" %>
	<%= javascript_include_tag "bootstrap-fileupload.min" %>
	<%= javascript_include_tag "admin" %>
	<script>
	$(".autocomplete").typeahead({
		source: fetch_keywords,
		items: 4,
		highlighter: function(item) {
		    return item
		}
	});
	function fetch_keywords(keyword, callback){
		$.get("/admin/autocomplete", { search: keyword }, function(data, _, _){
		    callback(data);
		})
	}
	</script>
</body>
</html>
