<!DOCTYPE html>
<html>
<head>
  <title>Arability</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "games", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <% if I18n.locale == :ar %>
    <%= stylesheet_link_tag "bootstrap.rtl", :media => "all" %>
    <%= stylesheet_link_tag "bootstrap-responsive.rtl", :media => "all" %>
    <%= stylesheet_link_tag "bootstrap-rtl-overrides", :media => "all" %>
    <%= javascript_include_tag "bootstrap.rtl" %>
  <% else %>
    <%= stylesheet_link_tag "bootstrap_and_overrides", :media => "all" %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/navbar' %>


<div role="main" id="main">
  <div class="container">
    <div class="content">
      <%= render 'layouts/messages' %>
      <%= content_for?(:main_content) ? yield(:main_content) : yield %>
    </div>
  </div>
</div>

<%= render 'shared/navbardropdownjs' %>
</body>
</html>
