<!DOCTYPE html>
<html>
<head>
  <title>Arability</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/navbar' %>

<div class="container">
  <% flash.each do |key,msg| %>
    <div class="alert alert-<%= key %>">
      <div class="message-inner">
        <%= content_tag :div, msg %>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    </div>
  <% end %>

  <%= yield %>
</div>

<%= render 'shared/navbardropdownjs' %>
</body>
</html>
